body {
	margin: 30px 0;
	background: url('images/wavegrid.png');
	font-family: Tahoma;
	font-size: 14px;
	line-height: 18px;
}

.clearfix{clear: both;}
p{margin-top: 0;}
a {color: #3b559f;}

#header {
	width: 960px;
	margin: auto;
	line-height: 50px;
}

	#logo {
		width: 200px;
		height: 50px;
		float: left;
		margin-right: 20px;
	}

	#navigation {
		float: left;
		list-style: none;
		margin: 0;
		padding: 0;
	}

		#navigation li {
			line-height: 20px;
			padding: 0 20px 0 0;
			margin: 20px 0 0 0;
			float: left;
		}

			#navigation li a {
				display: block;
				padding: 10px;
				color: #3b559f;
				text-decoration: none;
				font-weight: bold;
			}

			#navigation li a.active {
				background: #fff;
			}

			#navigation li:first-child {
				border: 0;
			}

#content {
	background: #fff;
}

	#content_container {
		width: 960px;
		margin: auto;
		padding: 30px 0;
	}

	#content h1 {
		margin-top: 0;
	}

	#events {
		margin: 0;
		padding: 0;
		list-style: none;
	}

		#events li {
			padding: 10px 0;
			margin-bottom: 10px;
			border-bottom: solid 1px #ccc;
		}

		#events li .description {
				max-height: 18px;
				overflow: hidden;
				font-style: italic;
			}

h1 {
	font-size: 1.4em;
}

#syncEvents {
	background: #3b559f;
	display: block;
	padding: 10px;
	float: right;
	color: #fff;
	text-decoration: none;
	border: solid 1px #000;
}

#footer {
	padding: 20px 0;
	text-align: center;
	font-size: 0.8em;
}