{% extends "base.html" %}

{% block topbar %}


{% endblock %}

{% block content %}

<h1>Default Facebook Settings</h1>
<form action="/facebook" method="post">
	<ul>Automatically remind me before Facebook Events<br>
		<select id="auto_add" name="auto_add">
			<option {% if auto_remind %} selected=true {% endif %} value="True">Yes</option>
			<option {% if not auto_remind %} selected=true {% endif %} value="False">No</option>
		</select>

		Deliver reminders <input type="text" value="{{remind_time}}" id="reminder_time_count" name="reminder_time_count"> 
		<select name="reminder_time_unit">
			<option value="0" {% if remind_unit==0 %} selected="true" {% endif %} >Minutes</option>
			<option value="1" {% if remind_unit==1 %} selected="true" {% endif %}>Hours</option>
			<option value="2" {% if remind_unit==2 %} selected="true" {% endif %}>Days</option>
		</select> Before start of Event
	</ul>
    <input type="submit" name="Submit" />
</form>
{% endblock %}
