{% extends "base.html" %}

{% block topbar %}


{% endblock %}

{% block content %}

<h1>Global Settings</h1>
<form action="global" method="POST">
        {% if form.errors %}
            <ul class="errors">
                {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                    {% for error in field_errors %}
                        <li>{{ form[field_name].label }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}

        <ul>
                <label for="email">Email Address</label>
		<input id="email" name="email" type="text" value="{{email}}"><br>
	</ul
	<ul>
		<label for="phone">Mobile Phone Number (xxxyyyzzzz)</label>
		<input id="phone" name="phone" type="text" value="{{phone}}"></br>
	</ul>
	<ul>
		<label for="carrier">Carrier</label>
                <select id="carrier" name="carrier">
                        <option value="0"{% if carrier == 0 %} selected="selected"{% endif %}>AT&T</option>
                        <option value="1"{% if carrier == 1 %} selected="selected"{% endif %}>Verizon</option>
                        <option value="2"{% if carrier == 2 %} selected="selected"{% endif %}>Sprint</option>
                        <option value="3"{% if carrier == 3 %} selected="selected"{% endif %}>TMobile</option>
                        <option value="4"{% if carrier == 3 %} selected="selected"{% endif %}>Cricket</option>
                        <option value="5"{% if carrier == 3 %} selected="selected"{% endif %}>Alltel</option>
                </select>
        </ul>
        <ul>
                <input type="submit" value="Save Changes">
        </ul>

</form>
{% endblock %}
