{% extends "base.html" %}

{% block topbar %}


{% endblock %}

{% block content %}

<h1>Global Settings</h1>
<form action="global" method="POST">
        {% if form.errors %}
            <ul class="errors">
                {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                    {% for error in field_errors %}
                        <li>{{ form[field_name].label }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}

        <ul>
                <label for="email">Email Address</label>
		<input id="email" type="text"><br>
	</ul
	<ul>
		<label for="phone">Mobile Phone Number (xxxyyyzzzz)</label>
		<input id="phone" type="text"></br>
	</ul>
	<ul>
		<label for="carrier">Carrier</label>
                <select id="carrier">
                        <option value="att">AT&T</option>
                        <option value="verizon">Verizon</option>
                        <option value="sprint">Sprint</option>
			<option value="tmobil">TMobile</option>
                </select>
        </ul>
        <ul>
                <input type="submit" value="Save Changes">
        </ul>

</form>
{% endblock %}
