{% extends "base.html" %}

{% block topbar %}


{% endblock %}

{% block content %}

<h1>Google Settings</h1>
<form action="/google" method="POST">
<li>
	<ul>
		<label for="auto_add">Add Facebook Events to Google Calendar</label>
		<select id="auto_add" name="auto_add">
			<option {% if auto_add %} selected=true {% endif %} value="always">Always</option>
			<option {% if not auto_add %} selected=true {% endif %} value="never">Only when I add them</option>
		</select>
	</ul>
	<ul>
		<label for="calendar">Calendar where Facebook Events should be added</label>
		<select id="calendar" name="calendar">
		<li>
		{% for calendar in calendars_list %}
		<ul>
		{% if calendar.id == default_calendar %}
		<option selected=true value={{calendar.id}}>{{calendar.summary}}</option>
		{% else %}
		<option value={{calendar.id}} name={{calendar.summary}}>{{calendar.summary}}</option>
		{% endif %}
		</ul>
		{% endfor %}
		</li>
		</select>
	</ul>
	<ul>
		<input type="submit" value="Submit">
	</ul>
</li>
</form>
{% endblock %}
