{% extends "base.html" %}

{% block topbar %}


{% endblock %}

{% block content %}

<h1>Events</h1>
<ul id="events">
{% for event in events.data %}
    <li id="event.id">
    	<strong class="eventname">{{event.name}}</strong> <span class="eventtime">{{event.details.start_time}} - {{event.details.end_time}}</span><br />
    	<span class="eventlocation">{{event.details.location}}</span><br />
    	<p class="description">{{event.details.description.replace('\n', '<br />')|safe}}</p>
    	<p>
    		<a href="#" class="reminder" data-email="{{me.email}}">Send e-mail</a>
    		{% if event.in_db == False %}
                <select class="calendar" name="calendar">
                    {% for calendar in calendar_list['items'] %}
                        {% if calendar.id == default_calendar %}
                            <option selected=true value={{calendar.id}}>{{calendar.summary}}</option>
                        {% else %}
                            <option value={{calendar.id}} name={{calendar.summary}}>{{calendar.summary}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            {% endif %}
    	</p>
	</li>
{% endfor %}
</ul>
{% endblock%}
